// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

$scove-light : #48a294;
$scove-dark : #0e3541;
$blue-light : #141e36;
$blue-dark : #0a0d1d;
$blue-ocean-light : #486da2;
$blue-ocean-dark : #112857;

// 4. Include any default map overrides here
$scove-light-100: tint-color($scove-light, 80%) !default;
$scove-light-200: tint-color($scove-light, 60%) !default;
$scove-light-300: tint-color($scove-light, 40%) !default;
$scove-light-400: tint-color($scove-light, 20%) !default;
$scove-light: $scove-light !default;
$scove-light-600: shade-color($scove-light, 20%) !default;
$scove-light-700: shade-color($scove-light, 40%) !default;
$scove-light-800: shade-color($scove-light, 60%) !default;
$scove-light-900: shade-color($scove-light, 80%) !default;

$scove-dark-100: tint-color($scove-dark, 80%) !default;
$scove-dark-200: tint-color($scove-dark, 60%) !default;
$scove-dark-300: tint-color($scove-dark, 40%) !default;
$scove-dark-400: tint-color($scove-dark, 20%) !default;
$scove-dark: $scove-dark !default;
$scove-dark-600: shade-color($scove-dark, 20%) !default;
$scove-dark-700: shade-color($scove-dark, 40%) !default;
$scove-dark-800: shade-color($scove-dark, 60%) !default;
$scove-dark-900: shade-color($scove-dark, 80%) !default;

$blue-light-100: tint-color($blue-light, 80%) !default;
$blue-light-200: tint-color($blue-light, 60%) !default;
$blue-light-300: tint-color($blue-light, 40%) !default;
$blue-light-400: tint-color($blue-light, 20%) !default;
$blue-light: $blue-light !default;
$blue-light-600: shade-color($blue-light, 20%) !default;
$blue-light-700: shade-color($blue-light, 40%) !default;
$blue-light-800: shade-color($blue-light, 60%) !default;
$blue-light-900: shade-color($blue-light, 80%) !default;

$blue-dark-100: tint-color($blue-dark, 80%) !default;
$blue-dark-200: tint-color($blue-dark, 60%) !default;
$blue-dark-300: tint-color($blue-dark, 40%) !default;
$blue-dark-400: tint-color($blue-dark, 20%) !default;
$blue-dark: $blue-dark !default;
$blue-dark-600: shade-color($blue-dark, 20%) !default;
$blue-dark-700: shade-color($blue-dark, 40%) !default;
$blue-dark-800: shade-color($blue-dark, 60%) !default;
$blue-dark-900: shade-color($blue-dark, 80%) !default;

$blue-ocean-light-100: tint-color($blue-ocean-light, 80%) !default;
$blue-ocean-light-200: tint-color($blue-ocean-light, 60%) !default;
$blue-ocean-light-300: tint-color($blue-ocean-light, 40%) !default;
$blue-ocean-light-400: tint-color($blue-ocean-light, 20%) !default;
$blue-ocean-light: $blue-light !default;
$blue-ocean-light-600: shade-color($blue-ocean-light, 20%) !default;
$blue-ocean-light-700: shade-color($blue-ocean-light, 40%) !default;
$blue-ocean-light-800: shade-color($blue-ocean-light, 60%) !default;
$blue-ocean-light-900: shade-color($blue-ocean-light, 80%) !default;

$blue-ocean-dark-100: tint-color($blue-ocean-dark, 80%) !default;
$blue-ocean-dark-200: tint-color($blue-ocean-dark, 60%) !default;
$blue-ocean-dark-300: tint-color($blue-ocean-dark, 40%) !default;
$blue-ocean-dark-400: tint-color($blue-ocean-dark, 20%) !default;
$blue-ocean-dark: $blue-ocean-dark !default;
$blue-ocean-dark-600: shade-color($blue-ocean-dark, 20%) !default;
$blue-ocean-dark-700: shade-color($blue-ocean-dark, 40%) !default;
$blue-ocean-dark-800: shade-color($blue-ocean-dark, 60%) !default;
$blue-ocean-dark-900: shade-color($blue-ocean-dark, 80%) !default;

$component-active-bg:         #6610f2  !default;

// 2. Include any default variable overrides here
// $card-box-shadow: #fff;
// $card-color: #fff;
// $card-bg: #112857;

// $input-bg: #112857;
// $input-color: #b0d1ff;
// $input-border-color: #b0d1ff;
// $input-placeholder-color: #b0d1ff;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
  "theme-bg": #f4faff,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,

  "blue-100":$blue-100,
  "blue-200":$blue-200,
  "blue-300":$blue-300,
  "blue-400":$blue-400,
  "blue-600":$blue-600,
  "blue-700":$blue-700,
  "blue-800":$blue-800,
  "blue-900":$blue-900,

  "indigo-100":$indigo-100,
  "indigo-200":$indigo-200,
  "indigo-300":$indigo-300,
  "indigo-400":$indigo-400,
  "indigo-600":$indigo-600,
  "indigo-700":$indigo-700,
  "indigo-800":$indigo-800,
  "indigo-900":$indigo-900,

  "purple-100":$purple-100,
  "purple-200":$purple-200,
  "purple-300":$purple-300,
  "purple-400":$purple-400,
  "purple-600":$purple-600,
  "purple-700":$purple-700,
  "purple-800":$purple-800,
  "purple-900":$purple-900,

  "pink-100":$pink-100,
  "pink-200":$pink-200,
  "pink-300":$pink-300,
  "pink-400":$pink-400,
  "pink-600":$pink-600,
  "pink-700":$pink-700,
  "pink-800":$pink-800,
  "pink-900":$pink-900,

  "red-100":$red-100,
  "red-200":$red-200,
  "red-300":$red-300,
  "red-400":$red-400,
  "red-600":$red-600,
  "red-700":$red-700,
  "red-800":$red-800,
  "red-900":$red-900,

  "orange-100":$orange-100,
  "orange-200":$orange-200,
  "orange-300":$orange-300,
  "orange-400":$orange-400,
  "orange-600":$orange-600,
  "orange-700":$orange-700,
  "orange-800":$orange-800,
  "orange-900":$orange-900,

  "yellow-100":$yellow-100,
  "yellow-200":$yellow-200,
  "yellow-300":$yellow-300,
  "yellow-400":$yellow-400,
  "yellow-600":$yellow-600,
  "yellow-700":$yellow-700,
  "yellow-800":$yellow-800,
  "yellow-900":$yellow-900,

  "green-100":$green-100,
  "green-200":$green-200,
  "green-300":$green-300,
  "green-400":$green-400,
  "green-600":$green-600,
  "green-700":$green-700,
  "green-800":$green-800,
  "green-900":$green-900,

  "teal-100":$teal-100,
  "teal-200":$teal-200,
  "teal-300":$teal-300,
  "teal-400":$teal-400,
  "teal-600":$teal-600,
  "teal-700":$teal-700,
  "teal-800":$teal-800,
  "teal-900":$teal-900,

  "cyan-100":$cyan-100,
  "cyan-200":$cyan-200,
  "cyan-300":$cyan-300,
  "cyan-400":$cyan-400,
  "cyan-600":$cyan-600,
  "cyan-700":$cyan-700,
  "cyan-800":$cyan-800,
  "cyan-900":$cyan-900,
  
  "blue-ocean-dark-100":$blue-ocean-dark-100,
  "blue-ocean-dark-200":$blue-ocean-dark-200,
  "blue-ocean-dark-300":$blue-ocean-dark-300,
  "blue-ocean-dark-400":$blue-ocean-dark-400,
  "blue-ocean-dark"    :$blue-ocean-dark,
  "blue-ocean-dark-600":$blue-ocean-dark-600,
  "blue-ocean-dark-700":$blue-ocean-dark-700,
  "blue-ocean-dark-800":$blue-ocean-dark-800,
  "blue-ocean-dark-900":$blue-ocean-dark-900,

  "blue-ocean-light-100":$blue-ocean-light-100,
  "blue-ocean-light-200":$blue-ocean-light-200,
  "blue-ocean-light-300":$blue-ocean-light-300,
  "blue-ocean-light-400":$blue-ocean-light-400,
  "blue-ocean-light"    :$blue-ocean-light,
  "blue-ocean-light-600":$blue-ocean-light-600,
  "blue-ocean-light-700":$blue-ocean-light-700,
  "blue-ocean-light-800":$blue-ocean-light-800,
  "blue-ocean-light-900":$blue-ocean-light-900,

  "blue-dark-100":$blue-dark-100,
  "blue-dark-200":$blue-dark-200,
  "blue-dark-300":$blue-dark-300,
  "blue-dark-400":$blue-dark-400,
  "blue-dark"    :$blue-dark,
  "blue-dark-600":$blue-dark-600,
  "blue-dark-700":$blue-dark-700,
  "blue-dark-800":$blue-dark-800,
  "blue-dark-900":$blue-dark-900,

  "blue-light-100":$blue-light-100,
  "blue-light-200":$blue-light-200,
  "blue-light-300":$blue-light-300,
  "blue-light-400":$blue-light-400,
  "blue-light"    :$blue-light,
  "blue-light-600":$blue-light-600,
  "blue-light-700":$blue-light-700,
  "blue-light-800":$blue-light-800,
  "blue-light-900":$blue-light-900,

  "scove-light-100":$scove-light-100,
  "scove-light-200":$scove-light-200,
  "scove-light-300":$scove-light-300,
  "scove-light-400":$scove-light-400,
  "scove-light"    :$scove-light,
  "scove-light-600":$scove-light-600,
  "scove-light-700":$scove-light-700,
  "scove-light-800":$scove-light-800,
  "scove-light-900":$scove-light-900,

  "scove-dark-100":$scove-dark-100,
  "scove-dark-200":$scove-dark-200,
  "scove-dark-300":$scove-dark-300,
  "scove-dark-400":$scove-dark-400,
  "scove-dark"    :$scove-dark,
  "scove-dark-600":$scove-dark-600,
  "scove-dark-700":$scove-dark-700,
  "scove-dark-800":$scove-dark-800,
  "scove-dark-900":$scove-dark-900,
);

// Form Theme
// Form file input
$form-file-button-color:              #fff;
$form-file-button-bg:                   $purple-400;
$form-file-button-hover-bg:             shade-color($form-file-button-bg, 5%);

// Form classic input
$input-btn-focus-color-opacity:         .90 !default;
$input-btn-focus-color:                 rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur:                  0 !default;
$input-btn-focus-box-shadow:            0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              tint-color($indigo-800, 50%);
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                $input-btn-focus-box-shadow;


// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
